@model AutoNet.Models.Cars.CarCreateUpdateViewModel

@{
    ViewData["Title"] = Model.Id == null ? "Create Car" : "Update Car";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container col-12 col-sm-8">
    <form asp-action="@((Model.Id == null) ? "Create" : "Update")" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="UpdatedAt" type="hidden" />

        <div class="row mt-2">
            <div class="col-6 col-sm-6">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="col-6 col-sm-6">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 col-sm-6">
                <label asp-for="VIN" class="control-label"></label>
                <input asp-for="VIN" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="col-6 col-sm-6">
                <label asp-for="Year" class="control-label">Initial Registration</label>
                <input asp-for="Year" class="form-control" placeholder="Year" value="@(Model.Year > 0 ? Model.Year.ToString() : "")" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 col-sm-3">
                <label asp-for="EngineDisplacement" class="control-label">Engine Displacement</label>
                <input asp-for="EngineDisplacement" class="form-control" placeholder="cc" 
                value="@(Model.EngineDisplacement > 0 ? Model.EngineDisplacement.ToString() : "")" />
                <span asp-validation-for="EngineDisplacement" class="text-danger"></span>
            </div>
            <div class="col-6 col-sm-3">
                <label asp-for="Power" class="control-label">Power</label>
                <input asp-for="Power" class="form-control" placeholder="kW" 
                value="@(Model.Power > 0 ? Model.Power.ToString() : "")" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="col-6 col-sm-2">
                <label asp-for="Mileage" class="control-label">Mileage</label>
                <input asp-for="Mileage" class="form-control" placeholder="km" 
                value="@(Model.Mileage > 0 ? Model.Mileage.ToString() : "")" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="col-3  col-sm-2">
                <label asp-for="InspectionMonth" class="control-label">Inspection</label>
                <input asp-for="InspectionMonth" class="form-control" placeholder="Month" 
                value="@(Model.InspectionMonth > 0 ? Model.InspectionMonth.ToString() : "")" />
                <span asp-validation-for="InspectionMonth" class="text-danger"></span>
            </div>
            <div class="col-3 col-sm-2">
                <label class="control-label"></label>
                <input asp-for="InspectionYear" class="form-control" placeholder="Year" 
                value="@(Model.InspectionYear > 0 ? Model.InspectionYear.ToString() : "")" />
                <span asp-validation-for="InspectionYear" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4 col-sm-4">
                <label asp-for="Fuel" class="control-label"></label>
                <select asp-for="Fuel" class="form-control">
                    <option value="Gasoline">Gasoline</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Electric">Electric</option>
                    <option value="Hybrid">Hybrid</option>
                </select>
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
            <div class="col-4 col-sm-4">
                <label asp-for="Transmission" class="control-label"></label>
                <select asp-for="Transmission" class="form-control">
                    <option value="Manual">Manual</option>
                    <option value="Automatic">Automatic</option>
                    <option value="SemiAutomatic">Semi-Automatic</option>
                </select>
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="col-4 col-sm-4">
                <label asp-for="Drivetrain" class="control-label"></label>
                <select asp-for="Drivetrain" class="form-control">
                    <option value="FWD">Front-Wheel Drive</option>
                    <option value="RWD">Rear-Wheel Drive</option>
                    <option value="AWD">All-Wheel Drive</option>
                </select>
                <span asp-validation-for="Drivetrain" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 col-sm-6">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="€" 
                value="@(Model.Price > 0 ? Model.Price.ToString() : "")" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="col-6 col-sm-6">
                <label asp-for="DiscountPrice" class="control-label">Discount Price</label>
                <input asp-for="DiscountPrice" class="form-control" placeholder="€" 
                value="@(Model.DiscountPrice > 0 ? Model.DiscountPrice.ToString() : "")" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-sm-12">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" oninput="resizeTextarea(this)" style="overflow:hidden; resize:none;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-12">
                <label asp-for="Files" class="control-label">Images</label>
                <input class="form-control form-group-item-input" asp-for="Files" multiple type="file" />
            </div>
        </div>

        <div class="row">
            @foreach (var image in Model.Image)
            {
                <div class="col-4 col-sm-4 mt-3">
                    <div class="image-container position-relative">
                        <img class="card-image-top img-fluid car-update-images" src="@image.Image" asp-append-version="true" />

                        @if (Model.Id.HasValue)
                        {
                            <div class="remove-btn-overlay">
                                <button type="button" class="btn btn-delete btn-sm" onclick="removeImage('@image.ImageId')">Remove</button>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn @(Model.Id == null ? "btn-create" : "btn-update")">
                @if (Model.Id == null)
                {
                    <text>Create</text>
                }
                else
                {
                    <text>Update</text>
                }
            </button>
            <a href="@Url.Action("Index", "Cars")" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}

<script>
    function removeImage(imageId) {
        if (confirm("Are you sure you want to remove this image?")) {
            const token = document.querySelector('input[name="__RequestVerificationToken"]').value;

            fetch(`/cars/RemoveImage`, {
                method: 'POST',
                headers: {
                    'RequestVerificationToken': token,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ ImageId: imageId })
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Failed to remove the image.");
                }
            }).catch(error => console.error('Error:', error));
        }
    }

    function resizeTextarea(textarea) {
        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + "px";
    }

    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('textarea').forEach(textarea => resizeTextarea(textarea));
    });
</script>
