@model AutoNet.Models.Cars.CarDetailsViewModel

@{
    ViewData["Title"] = "Car Details";
}

<div class="container mt-5">

    <div class="card car-details-card">
        <div class="card-header">
            <h2>@Model.Make @Model.Model @Model.EngineDisplacementInLiters @Model.Power kW</h2>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <h4 class="card-header mb-3">General Information</h4>
                    <div class="col-6 col-sm-3">
                        <p><strong>Initial Registration Year</strong></p>
                        <p><strong>VIN</strong></p>
                        <p><strong>Mileage</strong></p>
                        <p><strong>Power</strong></p>
                        <p><strong>Engine Displacement</strong></p>
                        <p><strong>Fuel</strong></p>
                        <p><strong>Transmission</strong></p>
                        <p><strong>Drivetrain</strong></p>
                        <p><strong>Inspection Valid</strong></p>
                        <p><strong>Price</strong></p>
                        <p><strong>Discounted Price</strong></p>
                    </div>
                <div class="col-6 col-sm-3 text-end">
                    <p>@Model.Year</p>
                    <p>@Model.VIN</p>
                    <p>@Model.Mileage km</p>
                    <p>@Model.Power kW</p>
                    <p>@Model.EngineDisplacement cc</p>
                    <p>@Model.Fuel</p>
                    <p>@Model.Transmission</p>
                    <p>@Model.Drivetrain</p>
                    <p>@Model.InspectionMonth.@Model.InspectionYear</p>
                    <p>@Model.Price €</p>
                    <p>
                        @(Model.DiscountPrice.HasValue
                            ? Model.DiscountPrice.Value.ToString() + " €"
                            : "")
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    @if (Model.Images?.Any() == true)
                    {
                        <div>
                            <img src="@Model.Images.First().Image" alt="@Model.Images.First().ImageTitle" class="large-car-image" />
                        </div>
                        <div class="row smaller-car-images mt-1">
                            @foreach (var image in Model.Images.Skip(1))
                            {
                                <div class="col-3">
                                    <img src="@image.Image" alt="@image.ImageTitle" class="small-car-image" />
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <img src="/images/noImagePlaceholder.png" alt="Default Car Image" class="img-fluid large-car-image" />
                    }
                </div>
            </div>
            <div class="row mb-3">
                <h4 class="card-header mb-3">Description</h4>
                <div class="col-12">
                    <p>@Model.Description</p>
                </div>
            </div>
            <div class="row mb-3">
                <h4 class="card-header mb-3">Seller Information</h4>
                <div class="col-12">
                    <p>@Model.UserFirstName @Model.UserLastName</p>
                    <p>@Model.UserName</p>
                </div>
            </div>
            <div>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
