<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoNet.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AutoNet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-info">
                            <a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#registrationModal">Register</a>

                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* Registration Modal *@

    @{
        var registerViewModel = ViewData["RegisterViewModel"] as AutoNet.Models.Accounts.RegisterViewModel;
    }
    <div class="modal" id="registrationModal" tabindex="-1" aria-labelledby="registrationModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" asp-controller="Accounts" asp-action="Register" class="p-3">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group mb-3 col-12">
                        <input id="Email" name="Email" class="form-control" value="@registerViewModel?.Email" placeholder="Email" />
                        <span asp-validation-for="@registerViewModel.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3 col-12">
                        <input id="FirstName" name="FirstName" class="form-control" value="@registerViewModel?.FirstName" placeholder="First Name" />
                    </div>

                    <div class="form-group mb-3 col-12">
                        <input id="LastName" name="LastName" class="form-control" value="@registerViewModel?.LastName" placeholder="Last Name" />
                    </div>

                    <div class="form-group mb-3 col-12">
                        <input id="Password" name="Password" class="form-control" value="@registerViewModel?.Password" placeholder="Password" />
                        <span asp-validation-for="@registerViewModel.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3 col-12">
                        <input id="ConfirmPassword" name="ConfirmPassword" class="form-control" value="@registerViewModel?.ConfirmPassword" placeholder="Confirm Password" />
                        <span asp-validation-for="@registerViewModel.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-outline-dark w-100">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AutoNet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
